'''
Author: your name
Date: 2021-07-12 17:27:41
LastEditTime: 2021-07-12 17:29:03
LastEditors: Please set LastEditors
Description: Calculate Missippi Unite Barge Rate based on map
FilePath: \SYBM_Data_Cost&Production\UniteRateByBarge.py
'''

In [66]:
import pandas as pd
import numpy as np
import datetime

bargeRateWeekly = pd.read_excel('.\GTRFigure8Table9.xlsx',sheet_name='Table 9_data', header =2, usecols ="A:H")
bargeRateWeekly = bargeRateWeekly.iloc[2:,:]
bargeRateWeekly['All Points'] = pd.DatetimeIndex(bargeRateWeekly['All Points']).year
bargeRateWeekly = bargeRateWeekly.replace(0, np.nan)
bargeRateWeekly

     All Points    TWC      MM     ILL  ST LOUIS    CINC     LOH  CAR-MEM
2          2003    NaN     NaN  160.00    136.00  131.00  128.00   118.00
3          2003    NaN     NaN  160.00    136.00  134.00  133.00   120.00
4          2003    NaN     NaN  237.00    216.00  168.00  163.00   130.00
5          2003    NaN     NaN  239.00    214.00  174.00  173.00   133.00
6          2003    NaN     NaN  223.00    172.00  156.00  153.00   118.00
..          ...    ...     ...     ...       ...     ...     ...      ...
963        2021  430.0  335.00  332.50    236.25  251.25  251.25   221.25
964        2021  415.0  311.00  308.00    213.00  243.00  243.00   206.00
965        2021  438.5  311.25  303.75    208.75  241.25  241.25   200.00
966        2021  413.0  303.00  295.00    203.00  226.00  226.00   200.00
967        2021  392.5  283.75  281.25    200.00  213.75  213.75   196.25

[966 rows x 8 columns]

In [67]:
bargeRateAnnually = bargeRateWeekly.groupby('All Points').mean(numeric_only=True)
bargeRateAnnually

,TWC,MM,ILL,ST LOUIS,CINC,LOH,CAR-MEM
All Points,,,,,,,
2003,216.000000,193.842105,189.443396,159.330189,162.311321,162.443396,141.094340
2004,240.916667,227.800000,223.846154,192.038462,195.485577,196.490385,179.067308
2005,390.942857,369.525000,361.961538,332.538462,329.307692,332.076923,313.807692
2006,511.558824,449.363636,429.461538,380.557692,388.673077,390.346154,337.980769
2007,458.240196,422.490244,399.054487,339.395833,362.027244,361.636218,318.389423
2008,543.427083,523.944444,502.117925,436.265723,457.330189,457.845912,414.015723
2009,369.102381,335.420543,346.685897,280.802885,306.075321,305.990385,257.490385
2010,473.896465,424.611905,404.307692,322.474359,374.437500,374.432692,296.774038
2011,515.026786,467.127451,460.810897,363.418269,431.488562,431.692810,334.246667
2012,478.087963,429.692982,422.551282,371.955128,384.740385,384.772436,330.974359
2013,432.610294,392.611111,401.443396,341.547170,347.146226,347.083333,283.575472
2014,583.816667,556.247549,544.318627,441.217949,481.887821,481.767628,384.942308
2015,462.034314,422.180556,402.993333,313.745098,336.642628,336.802885,272.024038
2016,422.981982,364.241228,323.027244,234.977564,260.083333,259.554487,215.673203
2017,380.355856,332.064103,326.844551,241.201923,295.814103,295.333333,221.522436
2018,523.405914,487.734649,459.160256,356.157051,393.506667,394.923333,314.423077
2019,434.598485,447.194444,432.298611,336.312057,338.000000,338.751634,311.959119
2020,444.482653,390.905405,371.544080,269.069826,298.468407,298.468407,256.369048
2021,437.785714,346.928571,372.778846,259.910256,289.954837,289.954837,235.653846

In [61]:
#1976 traiff benchmark rate per ton
benchmarkRate = { 'TC':6.19, 'MM':5.32, 'ILL':4.64, 'ST LOUIS':3.99,
                 'CINC':4.69, 'LOH':4.04, 'CAR-MEM':3.14}

#Route_dict
Route_dict = {'West River Transit':['ST LOUIS','CINC'],
              'Vision Transportation of Elk River | Big Lake | Rogers | Zimmerman':['TC','MM','ST LOUIS','CINC'],
              'River Cities Public Transit':['ST LOUIS','CINC'],
              'Two Rivers Transportation':['ST LOUIS','CINC'],
              'Blue Rivers Public Transportation':['ST LOUIS','CINC'],
              'Transport 360, LLC.':['ST LOUIS','CINC'],
              'Five Rivers Transport, LLC':['ST LOUIS','CINC'],
              'East Side River Transportation Inc':['ST LOUIS','CINC'],
              'River City Transportation':['TC','ST LOUIS','CINC'],
              'River Transportation Co':['CAR-MEM','LOH','CINC']}

In [62]:
def GetUniteBargeRate(eleName, yaer):
    # Calculate the uniteRete for a river elevator at one year 
    Routes = Route_dict[eleName]
    rate = 0
    for r in Routes:
        rate = rate + benchmarkRate[r]*bargeRateAnnually.loc[yaer, r]/100
    return round(rate,2)

In [65]:
GetUniteBargeRate('River Transportation Co',2021)

32.71