In [33]:
import pandas as pd
import numpy as np

distanceByTruck = pd.read_csv('CountryToRailDistance.csv',index_col=0)

In [34]:
distanceByTruck['min_val'] = distanceByTruck.min(axis=1)
distanceByTruck.head()

,"Sioux Falls, SD","Minneapolis, MN","Fargo, ND","Council Bluffs, IA","Toledo, OH","Grand Island, NE",min_val
Name,,,,,,,
Agency Rail LLC,573.57,468.88,695.91,435.77,328.75,584.82,328.75
Airial Construction,563.18,403.98,631.02,446.37,268.53,595.41,268.53
"Alliance Builders And Construction, Inc.",574.94,415.75,642.78,463.36,244.30,612.41,244.30
Artix Construction Inc,561.44,402.24,629.28,456.64,267.13,605.68,267.13
Assumption Cooperative Grain,646.82,543.78,770.81,459.40,395.23,566.35,395.23

In [35]:
def NormalizateData(OriginData, NMin, NMax, OMax, OMin):
    N = NMin + ((NMax-NMin)/(OMax-OMin))*(OriginData-OMin)
    return ("%.2f"  %N)

In [36]:
OMax = distanceByTruck['min_val'].max()
OMin = distanceByTruck['min_val'].min()
Cost = []
for i in range(len(distanceByTruck['min_val'])):
    Cost.append(NormalizateData(distanceByTruck['min_val'].iloc[i], 3, 18, OMax, OMin))
Cost

['13.63',
 '11.64',
 '10.85',
 '11.60',
 '15.82',
 '13.75',
 '16.45',
 '14.87',
 '11.58',
 '10.85',
 '13.86',
 '10.98',
 '14.35',
 '15.15',
 '12.88',
 '12.16',
 '11.12',
 '11.32',
 '13.71',
 '13.49',
 '13.60',
 '13.37',
 '14.80',
 '10.85',
 '11.13',
 '13.52',
 '12.56',
 '16.06',
 '15.48',
 '11.04',
 '14.52',
 '12.41',
 '11.79',
 '13.97',
 '10.85',
 '15.09',
 '15.09',
 '14.07',
 '16.30',
 '11.96',
 '16.16',
 '11.12',
 '10.53',
 '14.20',
 '16.08',
 '13.99',
 '12.41',
 '14.72',
 '14.12',
 '17.08',
 '13.55',
 '14.67',
 '11.59',
 '13.40',
 '14.85',
 '10.85',
 '13.28',
 '10.90',
 '10.09',
 '13.03',
 '11.06',
 '9.75',
 '10.35',
 '10.14',
 '9.03',
 '10.00',
 '8.61',
 '9.11',
 '8.79',
 '9.22',
 '6.94',
 '7.29',
 '12.40',
 '9.06',
 '7.72',
 '12.25',
 '9.24',
 '10.78',
 '10.84',
 '7.73',
 '10.31',
 '6.13',
 '3.68',
 '6.38',
 '6.28',
 '6.38',
 '7.15',
 '6.06',
 '3.55',
 '3.55',
 '6.42',
 '7.29',
 '5.43',
 '6.69',
 '6.57',
 '4.47',
 '6.44',
 '7.99',
 '5.61',
 '4.36',
 '6.58',
 '6.72',
 '6.45',
 '3.46',
 '3.54',
 '4.31',
 '6.71',
 '5.77',
 '3.54',
 '6.34',
 '4.18',
 '7.21',
 '13.84',
 '14.37',
 '5.57',
 '4.43',
 '4.69',
 '5.92',
 '4.92',
 '4.92',
 '4.90',
 '4.80',
 '11.53',
 '11.53',
 '4.43',
 '5.35',
 '6.56',
 '4.60',
 '4.97',
 '4.34',
 '8.15',
 '5.07',
 '3.09',
 '7.21',
 '7.94',
 '4.90',
 '4.55',
 '4.08',
 '5.23',
 '4.58',
 '7.60',
 '4.82',
 '5.51',
 '14.83',
 '9.76',
 '8.09',
 '8.59',
 '8.72',
 '17.02',
 '11.80',
 '17.02',
 '8.72',
 '8.72',
 '8.87',
 '9.95',
 '8.72',
 '12.04',
 '15.82',
 '12.94',
 '17.02',
 '17.82',
 '9.50',
 '3.00',
 '4.16',
 '12.24',
 '9.34',
 '4.62',
 '7.85',
 '10.79',
 '10.30',
 '5.48',
 '6.92',
 '11.36',
 '9.12',
 '6.53',
 '9.29',
 '3.63',
 '12.40',
 '4.79',
 '13.92',
 '4.80',
 '4.62',
 '8.45',
 '3.00',
 '12.40',
 '6.59',
 '6.63',
 '13.24',
 '10.98',
 '14.11',
 '9.85',
 '10.82',
 '8.14',
 '8.16',
 '11.78',
 '12.33',
 '10.98',
 '13.52',
 '8.90',
 '12.23',
 '9.85',
 '9.33',
 '12.44',
 '9.22',
 '12.63',
 '9.40',
 '14.11',
 '7.76',
 '12.67',
 '16.59',
 '15.80',
 '12.74',
 '13.90',
 '12.86',
 '10.70',
 '12.74',
 '14.61',
 '13.62',
 '7.76',
 '18.00',
 '12.74',
 '14.12',
 '5.24',
 '5.47',
 '9.87',
 '4.58',
 '4.99']

In [37]:
# write trucks' cost from Country to Rail to file
TCostByDistance = distanceByTruck.copy()
TCostByDistance = TCostByDistance.drop('min_val',axis=1)

for i in range(TCostByDistance.shape[0]):
    for j in range(TCostByDistance.shape[1]):
        TCostByDistance.iloc[i,j] = NormalizateData(distanceByTruck.iloc[i,j], 3, 18, OMax, OMin)
    
TCostByDistance.to_csv('..\Data\CostToRailByTruck.csv')